

.bg-transparan {
  background-color: rgba(255, 255, 255, 0) !important;
  z-index: 1001;
  position: absolute;
  width: 100%;
  font-color: white !important;
}

.selamat-datang-di{
  font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
  font-weight: 800;
  color: #ffffff;
  font-size: 46px;
  text-align: center;
  letter-spacing: 0;
  line-height: 55.8px;
}

.solusi-terbaik-untuk{
  font-family: "Montserrat-Light", Helvetica;
  font-weight: 300;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0;
  line-height: 18.3px;
}

.dark-overlay {
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); /* ubah 0.5 jadi lebih besar untuk lebih gelap */
  z-index: 1;
}

.carousel-caption {
  z-index: 2; /* pastikan teks di atas overlay */
}

.carousel-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}
.carousel {
  overflow: hidden; /* biar ga ada bocor ke kanan */
}

@media (max-width: 768px) {
  .box {
    width: 100% !important; /* jangan fix 400px */
  }
  .carousel-control-prev-icon {
    margin-top:70px;
  }
  .carousel-control-next-icon {
    margin-top:70px;
  }
  .carousel-item {
    padding-top:100px;
    min-height: 40vh; /* atur sesuai selera, misalnya 60–80% tinggi layar */
  }

  .carousel-item img {
    height: 100%;
    width:100%;
    object-fit: cover; /* biar tetap proporsional, kepotong dikit tapi rapi */
    object-position:center;
  }

  .selamat-datang-di{

    margin-top: 150px;
    font-family: "Plus Jakarta Sans-ExtraBold", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 23px;
    text-align: center;
    letter-spacing: 0;
    line-height: 20.8px;
  }
  
  .solusi-terbaik-untuk{
    font-family: "Montserrat-Light", Helvetica;
    font-weight: 300;
    color: #ffffff;
    font-size: 9px;
    text-align: center;
    letter-spacing: 0;
    line-height: 12.3px;
  }
  .navbar-toggler-icon{
    background-color: #ffffff;
  }

  .navbar-collapse{
    background-color: #635f58;
  }

  .isi-konten {
    padding: 20px !important;
  }
}

.isi-konten {
  padding: 50px;
  /* position: relative;
  z-index: 1000;
  top: 550px; */
  /* flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white; */
}
.footer-data {
  position: relative;
  z-index: 1000;
  top: 60px;
}

.text-wrapper-30 {
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #0e0f1d;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.text-wrapper-29 {
  margin-top: 50px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #0e0f1d;
  font-size: 16;
  letter-spacing: 0;
  line-height: 27.7px;
  white-space: nowrap;
}

.about {
  color: "black";
  font-size: 28px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: "700";
  line-height: 72px;
  word-wrap: "break-word";
}

.box {
  width: 400px;
}

.why {
  margin-top: 130px;
  justify: "center";
  display: "flex";
  flex-direction: "column";
  color: "black";
  font-size: 28px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: "700";
  line-height: 22px;
  word-wrap: "break-word";
}

.box-bg {
  margin-top: 5px;
  background-color: #0073ff;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
}

.judul-why {
  color: "black";
  font-size: 18px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: "700";
  line-height: 72px;
  word-wrap: "break-word";
}
.des {
  margin-top: -10px;
  color: "black";
  font-size: 16px;
  font-family: "Plus Jakarta Sans";
  word-wrap: "break-word";
}
.des-1 {
  color: "black";
  font-size: 16px;
  font-family: "Plus Jakarta Sans";
  word-wrap: "break-word";
}

.carding-img {
  padding: 20px;
  border: 1px solid #0000002b;
  text-align: center;
  border-radius: 20px;
  height: 200px;
}

.carding-img img {
  width:180px;
}

.carding-img:hover {
  padding: 20px;
  border: 1px solid #0073ff;
  text-align: center;
  border-radius: 20px;
  background-color: #0073ff;
  height: 200px;
}
.carding-img-ico {
  padding: 20px;
  border: 1px solid #0000002b;
  text-align: center;
  border-radius: 20px;
  height: 200px;
}
/* .carding-img-ico img{
    filter:invert(1);
} */
.carding-img-ico:hover {
    padding: 20px;
    border: 1px solid #0073ff;
    text-align: center;
    border-radius: 20px;
    background-color: #0073ff;
    height: 200px;
}
.carding-img-ico:hover img{
    filter:invert(1);
}
.carding-img-ico:hover h6{
    filter:invert(1);
}

.card:hover{
    background-color: #0073ff;
    cursor:pointer;
}

.sampleClick{
    text-decoration: none;
    color:black;
}
.sampleClick:hover{
    text-decoration: none;
    color:white;
}

.cards{
  margin-top:5px;
}
